@model UpdatePopularLocationDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h1>Yeni Popüler Lokasyon Ekleme Sayfası</h1>
                <div class="table-responsive">
                    <form action="/PopularLocation/UpdatePopularLocation" method="post">
                        <input type="hidden" asp-for="PopularLocationID"/>
                        <label>Lokasyon Adı</label>
                        <input asp-for="CityName" class="form-control" />
                        <br />
                        <label>Lokasyon Görsel</label>
                        <input type="file" asp-for="ImageUrl" class="form-control" />
                        <br />
                        <button type="submit" class="btn btn-success">Lokasyonu Kaydet</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


